# api id and api hash (my.telegram.org)
# required
API_ID='18555572'
API_HASH='2f9428de34063c9e9a92fd6418a6bf9a'

# pyrogram session string (@genstr_robot)
# required
SESSION='AQBf34X1g1dcnT50xhTx52Jf4OXtF27tgNEBOiA_zd-XaGvr-Noz4H5XMZpoNhigeHxCheQz3xrEqYDiYYm4MJ-KywyYNYH42YAw14bjbywVUXXkPWbVEne-8nHAw2-jWR57Vwsk7NFfcS88BhFQ5daVAI0wtojhLdjjYnKKBtCAU5yJjot5js3KUnRqfashKiNzwXYrhFiT90dKWUrfLlU4OmB3xbyk3y9XCLuxtnqe3ZkELEPjjxdq45P_sn2hTgHQm4_aAAR-H_0TwYhmp_4lBXUilRmsO6_NHQL-QDbUsC4zoa8Z0BF4LfE9GlIKRlcq2M1StVbYtQN6LRbDjyTJAAAAASt5flkA'

# telegram bot token (from @botfather)
#optional
BOT_TOKEN='1641214809:AAGQzD9ImcJImld96ophaqcIdaGa8R4QW0E'

# sudo user ids (separate with space)
# optional
SUDOERS='287546210'

# command prefix (separate with space)
# optional
PREFIX='!'

# default language for the bot in groups
# optional
LANGUAGE='en'

# custom stream quality for the bot in groups
# optional
QUALITY='medium'

# default stream mode for the bot in groups
# optional
STREAM_MODE='video'

# if you want restrict user from playing in groups
# optional
ADMINS_ONLY='False'

# spotify vars (for playing spotify links or playlist)
# optional
SPOTIFY_CLIENT_ID=''
SPOTIFY_CLIENT_SECRET=''
